:root {
  --base-color: hsl(216, 10%, 70%);
}

.menu {
  position: relative;
  padding: 20px 10px;
}

.layout {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 10px;
  background: #112;
  color: #fff;
  transition: transform 0.2s;
  transform: translateY(-100%);
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.1);
}

.layoutActive {
  transform: none;

  composes: layout;
}

.header {
  display: flex;
  align-items: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.icon {
  --primary-color: var(--base-color);
  margin-right: 0.5em;
}

.tagIcon {
  composes: icon;
  transform: rotate(-45deg);
}

.button {
  --primary-color: var(--base-color);
  display: block;
  margin: 0 auto;
  /* visually align with text */
  padding: 4px 0 0;
  border: 0;
  background: 0;

  appearance: none;
}

.buttonRight {
  margin: 0 0 0 auto;
  composes: button;
}

.button:hover {
  --primary-color: #334;
}

.link {
  text-decoration: none;
  color: hsl(190, 10%, 90%);
}

.link:hover {
  color: var(--base-color);
}
