.tasks {
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.taskHeader {
  display: flex;
  align-items: flex-start;
}

.taskTitle {
  flex: 1;
  margin: 0 1em;
}

.taskTitle:hover > .indicator {
  --primary-color: #778;
}

.taskDescription {
  color: #556;
}

.taskDescriptionCompleted {
  word-wrap: normal;
  margin: 0;
  padding-bottom: 4px;
  border-right: 0;
  border-left: 0;
  font-family: inherit;
  line-height: 1.4;
  white-space: pre-wrap;
}

.taskFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 0;
}

.checkbox {
  position: relative;
  width: 22px;
  height: 22px;
  outline: none;
  border: 0;
  background: none;
  cursor: pointer;

  appearance: none;
}

.indicator {
  --primary-color: #bbc;
  margin-left: 5px;
}

.icon {
  --primary-color: #9a9aaa;
  margin-left: 10px;
  cursor: pointer;
}

.tagIcon {
  transform: rotate(-35deg);
  composes: icon;
}

.icon:hover {
  --primary-color: #16f;
}

.detailsIcon {
  width: 14px;
  padding: 5px 0 5px;
  composes: icon;
}

.footerIcon {
  margin-left: 15px;
  composes: icon;
}

.footerIconDangerous {
  composes: footerIcon;
}

.footerIconDangerous:hover {
  --primary-color: tomato;
}

.checkbox::after {
  position: absolute;
  top: 0;
  width: 22px;
  height: 22px;
  background: url('../../assets/roundcheckbox.svg') no-repeat;
  background-position: center center;
  content: '';
}

.checkbox:checked::after {
  background: url('../../assets/roundcheckbox_checked.svg') no-repeat;
}

.footerTags {
  flex: 1;
  flex-basis: 100%;
  composes: tags from '../Tags/styles.css';
}
