.tasks {
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.taskHeader {
  display: flex;
  align-items: center;
}

.taskTitle {
  flex: 1;
  margin: 0 1em;
  padding: 15px 0;
  border: 0;
  appearance: none;
  background: transparent;
  outline: none;
}

.taskTitle:hover > .indicator {
  --primary-color: #778;
}

.taskDetails {
  margin-top: 0;
  margin-left: calc(1em + 20px);
}

.taskDescription {
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 0;
  color: inherit;
  font-size: 1em;
  resize: none;

  appearance: none;
}

.taskDescriptionCompleted {
  word-wrap: normal;
  margin: 0;
  padding-bottom: 4px;
  border-right: 0;
  border-left: 0;
  font-family: inherit;
  line-height: 1.4;
  white-space: pre-wrap;
}

.taskFooter {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0 15px;
}

.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  outline: none;
  border: 0;
  background: none;
  cursor: pointer;

  appearance: none;
}

.indicator {
  --primary-color: #bbc;
  margin-left: 5px;
}

.icon {
  --primary-color: #9a9aaa;
  margin-left: 10px;
  cursor: pointer;
}

.icon:hover {
  --primary-color: #16f;
}

.detailsIcon {
  padding: 10px;
  composes: icon;
}

.footerIcon {
  margin-left: 15px;
  composes: icon;
}

.footerIconDangerous {
  composes: footerIcon;
}

.footerIconDangerous:hover {
  --primary-color: tomato;
}

.checkbox::after {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='1.5'%3E%3Cpath d='M92.5 28.75c0-11.728-9.522-21.25-21.25-21.25h-42.5C17.022 7.5 7.5 17.022 7.5 28.75v42.5c0 11.728 9.522 21.25 21.25 21.25h42.5c11.728 0 21.25-9.522 21.25-21.25v-42.5z' fill='none' stroke='%23778' stroke-width='8' style='stroke: var(--secondary-color, %23778);' /%3E%3C/svg%3E%0A")
    no-repeat;
  background-position: center center;
  content: '';
}

.checkbox:checked::after {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='1.5'%3E%3Cpath d='M92.5 28.75c0-11.728-9.522-21.25-21.25-21.25h-42.5C17.022 7.5 7.5 17.022 7.5 28.75v42.5c0 11.728 9.522 21.25 21.25 21.25h42.5c11.728 0 21.25-9.522 21.25-21.25v-42.5z' fill='none' stroke='lightgrey' stroke-width='8' /%3E%3Cpath d='M42.389 52.884L70.213 25.06l11.032 11.032L42.397 74.94l-.008-.008-.008.008-23.626-23.625 11.032-11.032 12.602 12.601z' fill='%2316f' /%3E%3C/svg%3E%0A")
    no-repeat;
}

.tags {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerTags {
  flex: 1;
  composes: tags;
}

.tag {
  font-size: 12px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 2px 6px;
  min-width: 14px;
  text-align: center;
  margin-left: 5px;
  color: lightgrey;
}

.tag:first-child {
  margin-left: 0;
}
