.container {
  display: flex;
  align-items: center;
}

.description {
  border: 1px solid transparent;
  text-decoration: line-through;
}

.input {
  color: var(--dark-grey);
}

.subtasks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subtask {
  font-size: 15px;
  padding: 5px 0;
}

.checkbox {
  margin-right: 10px;
}

.completed {
  composes: input;
  color: var(--light-grey);
}

.trashbin {
  --primary-color: hsl(230, 10%, 60%);
}

@media (min-width: 768px) {
  .trashbin {
    visibility: hidden;
  }

  .subtask:hover .trashbin {
    visibility: visible;
  }
}
