.inboxPage {
}

.title {
  font-weight: 500;
  margin: 0 0 0 10px;
}

.list {
  list-style: none;
  padding: 0 10px;
  margin: 0;
}

.listItem {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.listItem > :first-child {
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: hsl(200, 20%, 30%);
}

.link:hover {
  color: hsl(200, 20%, 40%);
}
